<br/>
<div class="Jumbotron">
  <h1>Blocmetrics</h1>
  <p>Blocmetrics is where you can measure the performances of your applications</p>
  <p>
    <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
    <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
  </p>
</div>

<div class="row">
  <div class="col-md-8">
    <h2>Track Anything</h2>
    <p>With our easy to use tracking code, you can easily track any interaction on your web application that you would like.  Just put in the javascript tracking code to each element, and watch the data populate right before your very eyes!!
    <p>
  </div>
</div>


